{% load staticfiles %}
<html>
    <head>
        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link href="{% static 'slider.css' %}" rel="stylesheet">
        <title>mews</title>
            {% block head %}
            {% endblock %}
    </head>

    <body>
        <!-- <div class="container"> -->
            {% block content %}
            {% endblock %}
        <!-- </div> -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="{% static 'bootstrap-slider1.js' %}"></script>
        <script src="{% static 'map-slider.js' %}"></script>
    </body>
</html>