{% extends "visualizer/main.html" %}

{% block content %}

<div class="container">

  <h1>mews</h1>
  <h4>mapping your news</h4>

  <h3>Filter by date</h3>

  <div class="list-group">
    <h4 class="list-group-item">1 Day Ago</h4>
    {% for article in articlesByDate.1 %}
      <a href="{{ article.url }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ article.title }}</h4>
        <h5 class-"lost-group-item-heading">{{ article.location.name }}</h5>
        <p class="list-group-item-text">{{ article.abstract }}</p>
      </a>
    {% endfor %}
    <h4 class="list-group-item">1 Week Ago</h4>
    {% for article in articlesByDate.7 %}
      <a href="{{ article.url }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ article.title }}</h4>
        <h5 class-"lost-group-item-heading">{{ article.location.name }}</h5>
        <p class="list-group-item-text">{{ article.abstract }}</p>
      </a>
    {% endfor %}
    <h4 class="list-group-item">1 Month Ago</h4>
    {% for article in articlesByDate.30 %}
      <a href="{{ article.url }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ article.title }}</h4>
        <h5 class-"lost-group-item-heading">{{ article.location.name }}</h5>
        <p class="list-group-item-text">{{ article.abstract }}</p>
      </a>
    {% endfor %}
  </div>

  <h3>Filter by section</h3>

  <div class="list-group">
    {% for section, articleArray in articlesBySection.items %}
      <h4 class="list-group-item">{{ section }}</h4>
      {% for article in articleArray %}
        <a href="{{ article.url }}" class="list-group-item">
          <h4 class="list-group-item-heading">{{ article.title }}</h4>
          <h5 class-"lost-group-item-heading">{{ article.location.name }}</h5>
          <p class="list-group-item-text">{{ article.abstract }}</p>
        </a>
      {% endfor %}
    {% endfor %} 
  </div>

</div>

{% endblock %}